{% extends 'zamowienia/base.html' %}

{% block content %}
<h1>Bubble System</h1>
    <h2>O projekcie</h2>
    <div class="o_projekt" style="text-align: center">
        <a>
            Projekt powstał na zaliczenie przedmiotu "Pracowania programistyczna".<br>
            Jest to prosty system zamówień głównie przeznaczony do użytku pojedynczego użytkownika.<br>
            Powstał on głównie z myślą o konsultantkach/konsultantach koncernów kosmetycznych.<br>
        </a>
    </div>
    <h2>O autorze</h2>
    <div class="o_autorze" style="text-align: center">
        <a>
            <h3>Mateusz Babul</h3>
            Jestem studentem drugiego roku Informatyki na AMU WMI<br>
            Na codzień jestem stażystą działu IT w poznańskiej firmie produkcyjnej.<br>
            Po godzinach szkole się w dziedzinie Data Science.<br>
        </a>
    </div>
{% endblock %}