{% extends 'zamowienia/base.html' %}

{% block content %}
<h1>List zamówień klienta</h1>
{% if ords %}
<table>
    <thead>
    <th>Id zamówienia</th>
    </thead>
    <tbody>

{% for Order_Id in ords %}
    <tr>
    <td><a href="{{ Order_Id.Order_Id }}">{{ Order_Id.Order_Id}}</a></td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
    <p>Brak zamówień</p>
{% endif %}
    <div class="nav">
        <button class="button" onclick="history.go(-1)" type="button">Powrót</button>
    </div>
{% endblock %}