{% extends 'zamowienia/base.html' %}

{% block content %}
<h1>View Order</h1>
<table>
    <thead>
    <th>ID</th>
    <th>Nazwa</th>
    <th>Pozycja</th>
    <th>Cena</th>
    </thead>
    <tbody>

{% for item in items %}
    <tr>
    <td>{{ item.id }}</td>
    <td>{{ item.Item_Name }}</td>
    <td>{{ item.Catalog_Id }}</td>
    <td>{{ item.Item_Cost }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
<p style="text-align: center"><strong>Lączna wartosc zamowienia to: </strong>{{ suma.Item_Cost__sum }}</p>
    <div class="nav">
        <button class="button" onclick="history.go(-1)" type="button">Powrót</button>
        <button class="button" onclick="location.href='{{ var }}/Client_new'" type="button">Dodaj</button>
        <button class="button" onclick="location.href='usun'" type="button">Usun</button>
    </div>
{% endblock %}