{% extends 'zamowienia/base.html' %}

{% block content %}
<h1>Lista klientów</h1>
{% if List_of_CLients %}
<table>
    <thead>
    <th>Imie i Nazwisko</th>
    </thead>
    <tbody>

{% for Client in List_of_CLients %}
    <tr>
    <td><a href="{{ Client.Name }}/">{{ Client.Name}}</a></td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
    <p style="text-align: center">Brak klientów</p>
{% endif %}
    <div class="nav">
    <button class="button" onclick="location.href='newclient'" type="button">Nowy klient</button>
    </div>
{% endblock %}